<h3 class="title">
    {{ sports?.title }}
</h3>

<div *ngIf="sports?.imgURL; else defaultImage">
    <img (click)="imageClicked()" *ngIf="sports?.imgURL" class="image" [src]="sports?.imgURL">
</div>

<ng-template #defaultImage>
    <img src="https://www.computerhope.com/jargon/g/guest-user.jpg">
</ng-template>

<p>
    {{ sports?.description }}
</p>
<div class="meta-data">
    <div class="creator">
        {{ sports?.creator}}
    </div>
    <div *ngIf="sports?.type" Hover affect="hoveraffect" class="sports?.type">
        <h4>{{ sports?.type }}</h4>
    </div>
    <div class="tags" Hover affect="boldtype" *ngIf="sports?.tags">
        <span class="tag" *ngFor="let tag of sports?.tags">
            #{{ tag }}
        </span>
    </div>
</div>





